/*
 * Thanks to https://subtlepatterns.com/ for the background.
*/
* {
    font-family: Verdana, monospace;
}
body {
  background: url('https://subtlepatterns.com/patterns/congruent_outline.png') repeat 0 0;
  font-family: Verdana, monospace;
}
section {
  background: #fff;
  box-shadow: 2px 2px 0 1px rgba(0, 0, 0, .1);
  margin: 3em auto;
  padding: 2em;
  width: 600px;
}
input {
  font-size: 1em;
  padding: 1em;
}
input[type="submit"] {
	cursor:pointer;
    background: midnightblue;
	color:white;
	float: right;
    width: 90px;
}

@media (min-width:200px) and (max-device-width:800px){
	form.ng-pristine.ng-valid{
		font-size: 40pt;
	
	}
	section {
		width: 80%;
	}
	input {
		width: 85%;
	}
	input[type="submit"] {
		width: 490px;
		margin-top: 200px;
	}
	.ng-scope{
		display:none;
	}
}